<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519584830945-po1jl87v6mv0l2jpj452o657shb3n0lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519584830945-po1jl87v6mv0l2jpj452o657shb3n0lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDn4qw6BLJf_azczpJGZrsCtT_Ngonpq2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>519584830945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialAppTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-app-flutter-27268</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-flutter-27268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519584830945:ios:f7d4cd3a621d1896172ea0</string>
</dict>
</plist>